<div class="engine">
  New Route!!

  <HelloWorld class="routable-hello-world" />

  <button class="trigger-transition-to" type="button" {{on "click" this.goAway}}>Go Away!</button>
  <button class="trigger-transition-to-url" type="button" {{on "click" this.goAwayViaURL}}>Go Away via URL!</button>
</div>
